Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org> 
Gabor Szabo  <gabor@szabgab.com> <szabgab@gmail.com>
Kevin Dawson <bowtie@cpan.org> bowtie <bowtie@cpan.org>
Kevin Dawson <bowtie@cpan.org> kevindawson <bowtie@cpan.org>
Kevin Dawson <bowtie@cpan.org> Kevin Dawson <kevin@dawson10.plus.com>
